.button {
  display: block;
  width: 100%;

  color: inherit;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
    opacity: .3;
  }

  &[disabled] {
    opacity: .3;
  }

  &--icon {
    border: none;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--ghost {
    text-transform: uppercase;
    border: 1px solid $color-main-lightest;
    
    &:hover,
    &:focus {
      border-color: $color-main-light;
    }

    &:active {
      color: $color-darkest-transparent;
      background-color: $color-main-light;
    }  
  }
}