.button {
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
    opacity: .3;
  }

  &--icon {
    border: none;
    background-position: center;
    background-repeat: no-repeat;
  }
}