.footer {
  @include theme-dark;

  // padding: 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 40px;
  padding-bottom: 0px;
}


.footer__contacts {
  text-align: center;
}

.footer__contacts-name {
  font-weight: 700;
}

.footer__social-comment {
  display: none;
}

.footer__social-list {
  @include reset-list-style;

  display: flex;
  justify-content: center;
  // padding-left: $s-width-padding;
  // padding-right: $s-width-padding;
}

.footer__social-item {
  flex-grow: 0;

  &:not(:first-child) {
    margin-left: -1px;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
}

.footer__social-item:hover + .footer__social-item > .footer__social-link {
  border-left-color: $color-main-darkest;
}

.footer__social-link:active
.footer__social-icon {
  fill: $color-lightest-transpatent;
}

.footer__social-icon {
  fill: $color-lightest;
}

.footer__copywrite {
  max-width: 150px;
  
  font-size: 16px;
  text-align: center;
}

.footer__copywrite-comment {
  @media (max-width: $s-width-max) {
    margin-bottom: 8px;
  }
}

.footer__copywrite-link {
  box-sizing: border-box;
  
  padding: 0 8px;
  text-decoration: initial;
}

// .footer__copywrite-comment {
//   display: none;
// }

.footer__credits {
  // padding-left: $s-width-padding;
  // padding-right: $s-width-padding;
  // width: 100%;
  padding-top: 20px;

  font-size: 12px;
  color: $color-lightest-transpatent;
}

@media (min-width: $m-width) {
  .footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: initial;


    padding-top: 40px;
    padding-bottom: 30px;
  }

  .footer__contacts {
    text-align: initial;
  }
  
  .footer__social-comment {
    display: block;
  }

  .footer__social-item {
    margin-right: 6px;
  }

  .footer__credits {
    flex-basis: 100%;
    // order: 1;

    // text-align: right;
  }

  // .footer__copywrite-comment {
  //   display: initial;
  // }
}