.games {
  position: relative;

  padding-top: 30px;
  margin-bottom: 34px;

  color: $color-lightest;
  
  background-color: $color-darkest-light;

  &::after {
    content: "";
    position: absolute;
    bottom: -34px;

    width: 100%;
    height: 34px;

    background-color: inherit;

    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }
}

.games__wrapper {
  padding-bottom: 20px;
}

.games__title {
  @include reset-h2-style;
}

.games__tab-list {
  @include reset-list-style;

  display: flex;
}

.games__tab-item:not(:last-child) {
  margin-right: 5px;
}

.games__tab-button {
  border-top: none;
  border-right: none;
  border-left: none;

  border-bottom-width: 2px;

  &--active {
    // border-color: $color-basic-light;
    border-color: $color-main-darkest;
  }
}
// While score section is empty
// .games__stat {
//   min-height: 737px;
// }

@media (min-width: $m-width) {
  .games {
    &::after {
      bottom: -65px;

      height: 65px;
    }
  }

  .games__wrapper {
    padding-bottom: 0;
  }

  .games__title {
    margin-bottom: 40px;
    
    text-align: center;
  }

  .games__tab-list {
    justify-content: center;
  }
}
