.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;

  display: flex;
  flex-direction: column;

  color: $color-lightest;
  
  background-color: $color-darkest;

  // &--hidden {
  //   transform: translate(0, -85px);
  //   transition: transform .2s;
  // }
  // &--showed {
  //   transform: translate(0, 0);
  //   transition: transform .2s;
  // }

}

.header__logo {
  position: relative;
  overflow: hidden;

  min-height: 65px;
  padding-top: 20px;

  text-align: center;

  &::after {
    content: "β-version";
    position: absolute;
    top: 15px;
    left: -42px;

    width: 150px;
    padding-bottom: 2px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;

    background-color: plum;

    transform: rotate(-45deg);
  }  
}

@media (min-width: $m-width) {
  .header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../img/opera.jpg");
    background-color: $header-background-color;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/opera@2x.jpg");
    }
  }

  .header__logo {
    display: block;
    order: 2;

    min-height: 344px;
    padding-top: 56px;

    &::after {
      top: 28px;
      left: -32px;
    }
  }

  .header__nav {
    order: 1;
  }
}

@media (min-width: $l-width) {
  .header__logo {
    height: 560px;
  }
}
