.menu {
  @include reset-list-style;
}

.menu__item {
  overflow: hidden;
}

.menu__link {
  display: block;
  padding: 13px 40px 13px 100px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $color-lightest-dark;
  text-transform: uppercase;

  background-color: $color-main;
  border-bottom: 1px solid $color-main-darkest; 

  @media (min-width: $s-width) and (max-width: $s-width-max) {
    &:hover,
    &:focus {
      color: inherit;
      background-color: $color-main-dark;
    }
  
    &:active {
      color: $color-lightest-transpatent;
      background-color: $color-main-darkest;
    }
  }
}

@media (min-width: $m-width) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__item:not(:last-child) {
    margin-right: 32px;
  }

  .menu__link {
    padding: 23px 0 21px 0;

    background: none;
    border-bottom: solid 3px transparent;

    &:hover,
    &:focus {
      color: $color-main;
      text-decoration: none;
      border-color: $color-main;
    }
    
    &:active {
      // color: $color-lightest-transpatent;
      opacity: .6;
    }
  }
}

@media (min-width: $l-width) {
  .menu {
    justify-content: space-around;
  }
}

