//Разное
@mixin reset-list-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin theme-dark {
  color: $color-lightest;
  
  background-color: $color-basic-darkest;

  .link {
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: $color-lightest-transpatent;
    }
  }

  .button--ghost {
    border-color: $color-basic-dark;
    
    &:hover,
    &:focus {
      border-color: $color-basic;
    }

    &:active {
      color: $color-lightest-transpatent;
      background-color: $color-darkest-light;
      border-color: $color-darkest-light;
    }   
  }
}

@mixin reset-h2-style {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

// @mixin title-h3 {
//   font-size: 24px;
//   line-height: 27px;
// }