.nav {
  @media (max-width: $s-width-max) {
    position: relative;

    &--menu-opened {
      .nav__toggler {
        background-image: url("../img/icon-menu-close.svg");
      }
    }
  
    &--menu-closed {
      .nav__toggler {
        background-image: url("../img/icon-menu-open.svg");
      }
  
      .nav__menu {
        display: none;
      }
    }
  
    &--no-js {
      .nav__toggler {
        display: none;
      }
    }
  }
}  

.nav__toggler {
  @media (max-width: $s-width-max) {
    position: absolute;
    top: -54px;
    right: 25px;
    z-index: 2;

    width: 21px;
    height: 20px;
  }
}