.rules {
  padding-top: 30px;
}

.rules__title {
  @include reset-h2-style;
}
.rules__list {
  // @include reset-list-style;
  // list-style: none;
}

.rules__item {
  &::marker {
    content: "—";
    margin-right: 4px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

