.score__diagram {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 550px;
  padding: 30px 0 110px 30px;
  margin: 0 0 20px 0;
  
  background-image: linear-gradient(to top, $color-lightest-dark, $color-lightest-dark 1px, transparent 1px, transparent 100%),
  repeating-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 49px, $color-main-lightest 49px, $color-main-lightest 50px),
  repeating-linear-gradient(to top, $color-darkest-light, $color-darkest-light 10px, $color-basic-darkest 10px, $color-basic-darkest 20px);
  background-origin: content-box;
  background-repeat: no-repeat;
}

.score__diagram-element {
  width: 100%;
  padding: 0;
  box-sizing: border-box;

  font-family: inherit;
  color: inherit;
  
  border: 0;
}

.score__diagram::before {
  position: absolute;
  top: 4px;
  left: 7px;
  content: '55 50 45 40 35 30 25 20 15 10 5 0';
  width: 10px;
  height: 550px;
  font-size: 12px;
  vertical-align: middle;
  line-height: 50px;
}

.score__diagram-element-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  min-width: 5px;
  margin: 0 7px 0 0;
  font-size: 12px;
  list-style: none;
}

.score__diagram-element-name {
  position: absolute;
  bottom: -22px;
  left: 12px;
  transform-origin: 0 0;

  color: inherit;
  // transform: rotate(30deg);
  transform: rotate(90deg);

  white-space: pre;
}

.score__pagination-container {
  display: flex;
}

.score__pagination {
  margin: 0;
  padding: 0;
}

.score__pagination-description {
  margin: 0 20px 0 0;
}

.score__pagination-list {
  @include reset-list-style;

  display: flex;
  flex-wrap: wrap;

  font-size: 14px;
}

.score__pagination-element:not(:last-child) {
  margin-right: 10px;
}

.score__pagination-button {
  display: inline;

  &--active {
    border-color: $color-basic-light;
  }
}

// button:hover,
// button:focus {
//   background-color: DarkGray;
// }