.teams {
  padding-top: 30px;

  color: $color-lightest;
  
  background-color: $color-darkest-light;
}

.teams__wrapper {
  @media (max-width: $s-width-max) {
    padding: 0;
  }

  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 49px;
    height: 90%;
    z-index: 10;

    pointer-events: none;
  }
  
  &::before {
    left: 0;
    background-image: url("../img/gradient-left.png");
  }

  &::after {
    right: 0;
    background-image: url("../img/gradient-right.png");
  }
}

.teams__title {
  @include reset-h2-style;
  margin-left: $s-width-padding;
}

.teams__list {
  @include reset-list-style;

  padding-top: 20px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 18px;
}

.teams__item {
  display: block;
  box-sizing: border-box;
  width: 112px;
  height: 183px;
  margin-right: 3px;
  padding:10px 10px 5px 10px;
  overflow: hidden;
  text-align: center;

  border-radius: 5px;

  transition: background-color 0.07s ease-out 0.1s;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $color-basic-dark;
  }
}

.teams__photo-container {
  width: 88px;
  height: 88px;
  
  // object-fit: cover;
  background-image: url("../img/owl.svg");
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-basic; 
  border-radius: 50%;

  overflow: hidden;
}


.teams__photo {
  margin-left: 50%;

  transform: translateX(-50%);
}

.teams__name {
  max-width: 88px;
  margin: 10px auto 0 auto;
  
  text-align: center;
  
  border: none;
}

.teams__modal {
  width: 170px;
  padding: 5px 30px 20px 30px;
}

.teams__modal-title {
  margin-top: 12px;
  margin-bottom: 8px;
}

.teams__modal-photo-container {
  margin: (-5px -30px 0 -30px);

  line-height: 0; // Othervise the picture element is bigger than img
}

.teams__players-list {
  column-count: 2;
  padding-left: 0;
  list-style: none;
}

.teams__players-item {
  &::before {
    content: "— ";
  }

  &--capitan {
  font-weight: 700;
  &::before {
    content: "★ ";
  }
  }
}

@media (min-width: $m-width) {
  .teams__item {
    padding-right: 12px;
    padding-left: 12px;
  }

  .teams__wrapper {
    &::before {
      left: $m-width-padding;
    }
  
    &::after {
      right: $m-width-padding;
    }
  }

  .teams__title {
    text-align: center;
  }

  .teams__modal {
    width: 440px;
    padding: 15px 40px 30px 40px;

    color: $color-darkest;
    background-color: $color-lightest;
  }

  .teams__modal-photo-container {
    display: block;
    min-height: 172px;
  }

  .teams__modal-photo {
    width: 500px;
  }
}

@media (min-width: $l-width) {
  .teams__wrapper {
    &::before {
      left: $l-width-padding;
    }
  
    &::after {
      right: $l-width-padding;
    }
  }  

  // .teams__list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  //   justify-content: center;
  //   height: auto;
  // }
}
