.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: $s-width) and (max-width: $s-width-max) {
  .wrapper {
    width: $s-width;
    padding-right: $s-width-padding;
    padding-left: $s-width-padding;
  }
}

@media (min-width: $m-width) {
  .wrapper {
    width: $m-width;
    padding-right: $m-width-padding;
    padding-left: $m-width-padding;
  }
}

@media (min-width: $l-width) {
  .wrapper {
    width: $l-width;
    padding-right: $l-width-padding;
    padding-left: $l-width-padding;
  }
}